.ipe-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Wrapper layout */
.ipe-wrapper.top {
    align-items: flex-start; /* 🔥 penting */
}

.ipe-wrapper.left {
    display: flex;
    flex-direction: row; /* 🔥 INI FIX UTAMA */
    align-items: flex-start;
    gap: 10px;
}

.ipe-wrapper.right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.ipe-container {
    display: inline-block;
    width: auto; /* 🔥 fix stretch */
}

.ipe-display {
    display: inline-block; /* 🔥 bukan block */
    min-width: 120px;
    padding: 10px 10px 4px 10px; /* 🔥 atas lebih besar */
    border-bottom: 1px dashed #999;
    cursor: pointer;
}

.ipe-label {
    font-size: 12pt;
    color: #666;
    font-weight: 500;
    min-width: 150px;
}

/* Floating */
.ipe-field {
    position: relative;
    display: inline-block; /* 🔥 penting */
    width: auto; /* 🔥 jangan 100% */
    top: -4px;
}

.ipe-floating-label {
    position: absolute;
    left: 10px;
    top: 12px; /* 🔥 bukan 50% lagi */
    font-size: 12pt;
    color: #999;
    pointer-events: none;
    transition: all 0.2s ease;

    max-width: 100%;
    white-space: normal;
    line-height: 1.1;
}

.ipe-wrapper.float .ipe-field {
    padding-top: 24px; /* 🔥 lebih tinggi */
}

/* Saat BELUM aktif (display mode) */
.ipe-field:not(.active) .ipe-floating-label {
    top: 50%;
    transform: translateY(-50%);
}

/* Saat ACTIVE */
.ipe-field.active .ipe-floating-label {
    top: -8px;
    font-size: 12pt;
    background: white;
    padding: 0 4px;
    color: #333;
}

.ipe-wrapper.float .ipe-display {
    padding-top: 24px; /* 🔥 ruang label */
}

.ipe-display:hover {
    border-bottom: 1px solid #333;
}

/* Input */
.ipe-input {
    padding: 8px 10px;
    width: 100%;
}

.ipe-display {
    border-bottom: 1px dashed #999;
    cursor: pointer;
}

.ipe-editor {
    display: flex;
    gap: 5px;
}

.ipe-editor.popup {
    position: fixed;
    background: white;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 8px;
    z-index: 9999;
    animation: fadeIn 0.15s ease-in-out;
}

.ipe-btn {
    cursor: pointer;
}

.ipe-text-danger {
    color: red;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
