.ipe-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.ipe-container {
    display: inline-block;
    width: auto; /* 🔥 fix stretch */
}

.ipe-display {
    display: inline-block;
    min-width: 120px;
}

.ipe-label {
    font-size: 12px;
    color: #666;
    font-weight: 500;
}

.ipe-label {
    min-width: 120px;
}

/* Wrapper layout */
.ipe-wrapper.top {
    align-items: flex-start; /* 🔥 penting */
}

.ipe-wrapper.left {
    display: flex;
    align-items: flex-start; /* 🔥 bukan center */
    gap: 10px;
}

/* Floating */
.ipe-field {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* DEFAULT (placeholder position) */
.ipe-floating-label {
    position: absolute;
    left: -10px;
    top: -15%;
    transform: translateY(-35%);
    font-size: 10pt;
    color: #999;
    pointer-events: none;
    transition: all 0.2s ease;
}

/* ACTIVE (float ke atas) */
.ipe-field.active .ipe-floating-label {
    top: -20px;
    font-size: 12pt;
    background: white;
    padding: 0 4px;
    color: #333;
}

/* Input */
.ipe-input {
    padding: 10px;
    width: 100%;
}

.ipe-display {
    border-bottom: 1px dashed #999;
    cursor: pointer;
}

.ipe-editor {
    display: flex;
    gap: 5px;
}

.ipe-editor.popup {
    position: fixed; /* 🔥 keep ini */
    background: white;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 8px;
    z-index: 9999;
}

.ipe-input {
    padding: 4px;
}

.ipe-btn {
    cursor: pointer;
}

.ipe-editor.popup {
    position: fixed; /* penting! */
    background: white;
    border: 1px solid #ddd;
    padding: 8px;
    border-radius: 8px;
    z-index: 9999;
}

.ipe-editor.popup {
    animation: fadeIn 0.15s ease-in-out;
}

.ipe-text-danger {
    color: red;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
